@font-face{
    font-family: "BebasNeue Bold";/* Для поддержки браузера IE6+ */
    src: url("../fonts/BebasNeue Bold.otf"), /* Для современных браузеров */
    url("../fonts/BebasNeue Bold.ttf");
    font-weight: normal;
    font-style: normal;
} 
@font-face{
    font-family: "BebasNeue Book";/* Для поддержки браузера IE6+ */
    src: url("../fonts/BebasNeue Book.otf"), /* Для современных браузеров */
    url("../fonts/BebasNeue Book.ttf");
    font-weight: normal;
    font-style: normal;
} 
@font-face{
    font-family: "BebasNeue Light";/* Для поддержки браузера IE6+ */
    src: url("../fonts/BebasNeue Light.otf"), /* Для современных браузеров */
    url("../fonts/BebasNeue Light.ttf");
    font-weight: normal;
    font-style: normal;
} 
@font-face{
    font-family: "BebasNeue Regular";/* Для поддержки браузера IE6+ */
    src: url("../fonts/BebasNeue Regular.otf"), /* Для современных браузеров */
    url("../fonts/BebasNeue Regular.ttf");
    font-weight: normal;
    font-style: normal;
} 
@font-face{
    font-family: "BebasNeue Thin";/* Для поддержки браузера IE6+ */
    src: url("../fonts/BebasNeue Thin.otf"), /* Для современных браузеров */
    url("../fonts/BebasNeue Thin.ttf");
    font-weight: normal;
    font-style: normal;
} 
@font-face{
    font-family: "B20Sans";/* Для поддержки браузера IE6+ */
    src: url("../fonts/B20Sans.ttf");
    font-weight: normal;
    font-style: normal;
} 
@font-face{
    font-family: "Roboto-Light";/* Для поддержки браузера IE6+ */
    src: url("../fonts/Roboto-Light_1.ttf");
    font-weight: normal;
    font-style: normal;
}