.herocontent{
    background-color: $base;
    color: #fff;
}
.hero_wrap{
    display: flex;
    align-items: center;
}
.hero_img{  
    position: relative;
    z-index: 1;
    img{
        height: 100%;
        max-height: rem(500px);
    }
}
.info{
    position: relative;
    margin-left: rem(-200px);
    z-index: 10000;
    max-width: rem(850px);
    h2{
        font-family: BebasNeue Bold;
        font-size: rem(47px);
    }
    h3{
        font-family: BebasNeue Book;
        font-size: rem(36px);
    }
    p{
        width: rem(400px);
        font-family: Roboto-Light;
        font-size: rem(14px);
        text-align: justify;
        float: right;
    }
}