.start-up{
    background-color: $base;
    color: #fff;
    .start-wrap{
        width: 70%;
        margin: 0 auto;
        padding: rem(100px) 0 rem(100px) 0;
    }
    h2{
        font-family: BebasNeue Bold;
        font-size: rem(24px);
        img{
            float: right;
            padding-left: rem(30px)
        }
    }
    .text{
        p{
            font-family: Roboto-Light;
            font-size: rem(14px);
            text-align: justify;
        }
    }
}